<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <h3>Splash Page</h3>

    <p> This is a simplified version of twitter.  You can create an account, and tweet whatever you want.  There is hashtag
        support built and you can see all tweets.  For each tweet, you can see who tweeted it and click on their username to see
        all their past tweets.  You can also see all hashtags and click on it to see all tweets with that hashtag.  You can 
        also like a tweet or unlike it.  If you tweeted something, you can also delete it! It's very easy to use!
    </p>
</body>

</html>