<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <div class='logout' style=
    "position: absolute;
    top: 10%;
    left: 80%;
    width: 200px">
        <form action = "{% url 'logout' %}" method='POST'>
            {% csrf_token %}
            <button type='submit' value="Logout">
                LOGOUT
            </button>
        </form>
    </div>
    <body>
        <div class='make_a_tweet' style=
       "position: absolute;
        top: 10%;
        left: 10%;
        width: 800px">
            <form action="{% url 'tweets:post_tweet' %}" method='POST'>
                {% csrf_token %}
                <div class = "form-group">
                    <h2> What do you want to tweet?</h2>
                    <input type = 'text' class = 'form-control' name = 'body'>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" name="Post Tweet">Tweet</button>
                </div>
            </form>
            {% if messages %}
            <ul class="alert alert-danger" style="list-style: none;">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class = 'tweets' style=
       "position: absolute;
        top: 35%;
        left: 10%;
        width: 800px;">
        <h1> Tweets </h1>
        {% for obj in tweet %}
            {% csrf_token %}
            <div class = 'tweet'>
                <div class = 'tweet_info'>
                    <a href="user?user={{ obj.author }}">{{ obj.author }}</a> {{ obj.created_at }}
                </div>
                <p> {{ obj.body }}</p>
                <strong> {{obj.likes.all.count}} likes </strong>
                <div class = 'like'>
                    <form action="{% url 'tweets:tweet_likes' %}" method='POST' class='ui form'>
                        {% csrf_token %}
                        <input type = 'hidden' name = 'tweet_id' value = "{{ obj.id }}">
                        {% if user not in obj.likes.all %}
                            <button type='submit'>Like </button>
                        {% else %}
                            <button type='submit'>Unlike </button>
                        {% endif %}
                    </form>
                </div>
                {% if obj.author == user%}
                <div class='delete'>
                    <form action="{% url 'tweets:delete_tweet' %}" method='POST' class='ui form'>
                        {% csrf_token %}
                        <input type='hidden' name='tweet_id' value="{{ obj.id }}">
                        <button type='submit'>Delete Tweet</button>
                    </form>
                </div>
                {% endif %}
                <hr>
            </div>
        {% endfor %}
        </div>
        <div class = 'hashtags' style=
       "position: absolute;
        top: 35%;
        left: 60%;
        width: 400px;">
        <h1> Hashtags </h1>
        {% for hashtag in hashtags %}
            {% csrf_token %}
            <h6>
                <a href="hashtag?hashtag={{ hashtag.tag }}">{{ hashtag.tag }}</a>
            </h6>
            <hr>
        {% endfor %}
        </div>
        
    </body>
</html>